fastapi
uvicorn
python-multipart
requests
websockets
python-dotenv
openai
chromadb
playwright
playwright-stealth
sentence-transformers>=2.7.0
scikit-learn
PyMuPDF
python-docx
pillow
docling
textstat
transformers
apscheduler
pyngrok
PyYAML>=6.0.1