fastapi
uvicorn
python-multipart
requests
websockets
python-dotenv
openai
nemo_toolkit[asr]<2.0.0
coqui-tts>=0.24.0
torch
torchaudio
torchvision
pydub
ffmpeg-python
imageio-ffmpeg
scipy
gTTS
transformers==4.40.2
huggingface-hub<0.23.0